a,
a:focus,
a:hover {
  color: #ffffff;
}
.page-title {
  color: white;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 5px;
  margin-top: 35px;
  text-align: center;
  vertical-align: middle;
}
.home-page {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
.instance-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.pagination {
  position: relative;
  opacity: 0.7;
  width: 60%;
}
.filter_pagination-bar {
  background-color: transparent;
  border: 0px;
  box-shadow: none;
  vertical-align: middle;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 3;
}
Tile.hospital-instance Tile.illness-instance Tile.charity-instance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.navbar-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: transparent;
  vertical-align: middle;
  border-color: transparent;
}
.navbar-tab {
  position: relative;
  font-size: 90%;
  color: white;
  opacity: 1.0;
}
.navbar-tabs {
  position: relative;
  margin-left: 0px;
  color: white;
  float: right;
}
.navbar-title {
  position: relative;
  align-self: flex-start;
  color: white;
  opacity: 0.9;
  margin-top: 10px;
  font-size: 1.5rem;
}
.filter-modal {
  position: relative;
  display: flex;
  flex-direction: column; 
}
.modal-trigger-btn {
  background-color: white;
  border-color: white;
  color: #5a6872;
  opacity: 0.7;
}
.modal-trigger-btn:hover {
  background-color: transparent;
  color: white;
}
.modal-trigger-btn:focus {
  background-color: transparent;
  color: white;
}
.filter-options {
  justify-content: space-around;
}
